# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
tup=(1,2,3,4,5,6,7,8,9,10)
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [9]:
a=tup[0]
b=tup[len(tup)//2]
c=tup[len(tup)-1]
print(a,b,c)

1 6 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [13]:
print(tup[:3])
print(tup[:len(tup)-4:-1])
print(tup[2:6])

(1, 2, 3)
(10, 9, 8)
(3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [15]:
mat=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
for m in mat:
    print(m)
print(mat[1][2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [16]:
t1=(1,2,3)
t2=(4,5,6)
merge_tup=t1+t2
print(merge_tup)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [21]:
tup=(1,1,1,2,2,2,2,3,6,4,5,7,8,4,4,1,2)
cnt=0
ind=len(tup)
for i in range(len(tup)):
    if tup[i]==2:
        ind=min(ind,i)
        cnt+=1
print(f"The First Occurrence at {ind} and Count is {cnt}")

The First Occurrence at 3 and Count is 5

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [22]:
tup=(1,2,3,4,5)
a,b,c,d,e=tup
print(a,b,c,d,e)

1 2 3 4 5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [23]:
lst=[1,2,3,4,5]
tup=tuple(lst)
print(tup)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [26]:
mat=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(mat)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [27]:
tup=(1,2,3,4,5)
lst=list(tup)
lst.append(6)
tup=tuple(lst)
print(tup)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [29]:
string="hello"
tup=tuple(string)
s=''.join(tup)
print(s)

hello

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [30]:
dict={(1,2):12,(3,4):34}
print(dict)

{(1, 2): 12, (3, 4): 34}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [34]:
mat=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
for i in mat:
    for j in i:
        print(j,end=" ")
    print()

1 2 3
4 5 6
7 8 9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [35]:
tup=(1,1,1,2,2,2,3,5,5,5,4,6,4)
set1=set(tup)
print(set1)

{1, 2, 3, 4, 5, 6}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [38]:
def func(tup):
    return max(tup),min(tup),sum(tup)
tup=(1,2,3,4,5,6)
maxi,mini,sum=func(tup)
print(f"Maximum :{maxi}")
print(f"Minimum :{mini}")
print(f"Sum of the elements of tuple :{sum}")

Maximum :6
Minimum :1
Sum of the elements of tuple :21