# Introduction To Lists

In [2]:
lst=[]
print(type(lst))

<class 'list'>

In [3]:
name=["Tony","Steve","Jack",1,2,3,4]
print(name)

['Tony', 'Steve', 'Jack', 1, 2, 3, 4]

In [4]:
mixed_list=[1,"Hello",3.14,True]
print(mixed_list)

[1, 'Hello', 3.14, True]

In [5]:
# Accessing list elements
fruits=["apple","banana","cherry","kiwi","guava"]

In [8]:
print(fruits[0])
print(fruits[2])
print(fruits[-1])

apple
cherry
guava

In [11]:
print(fruits[1:]) # print from 1 index
print(fruits[1:4]) # print from 1 to 3 index

['banana', 'cherry', 'kiwi', 'guava']
['banana', 'cherry', 'kiwi']

In [12]:
# Modifying the list elements
fruits

['apple', 'banana', 'cherry', 'kiwi', 'guava']

In [13]:
fruits[1]="watermelon"
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'guava']

In [14]:
fruits[1:]="watermelon"
fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [20]:
fruits=["apple","banana","cherry","kiwi","guava"]

In [21]:
# List Methods
fruits.append("orange") # Add an item to the end
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'guava', 'orange']

In [22]:
fruits.insert(1,"mango")
print(fruits)

['apple', 'mango', 'banana', 'cherry', 'kiwi', 'guava', 'orange']

In [23]:
fruits.remove("banana") # Removing the first occurance
print(fruits)

['apple', 'mango', 'cherry', 'kiwi', 'guava', 'orange']

In [24]:
# Remove and return the last
popped_fruits=fruits.pop()
print(popped_fruits)
print(fruits)

orange
['apple', 'mango', 'cherry', 'kiwi', 'guava']

In [25]:
index=fruits.index("cherry")
print(index)

2

In [26]:
fruits.insert(2,"banana")
print(fruits.count("banana"))

1

In [ ]:
fruits.sort() ## Sorts the list in ascending order
fruits

['apple', 'banana', 'cherry', 'guava', 'kiwi', 'mango']

In [28]:
fruits.reverse() #Reverse the list
print(fruits)

['mango', 'kiwi', 'guava', 'cherry', 'banana', 'apple']

In [ ]:
fruits.clear() # Remove all items from the list
print(fruits)

[]

In [92]:
# Slicing List
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [37]:
# Iterating over list
for number in numbers:
    print(number,end=" ")

1 2 3 4 5 6 7 8 9 10

In [39]:
# Iterating with index
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [40]:
# List Comprehension
lst=[]
for x in range(10):
    lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [43]:
l=[x**2 for x in range(10)]
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# List Comprehension

Basic Syntax [expression for item in iterable]

with conditional logic [expression for item in iterable if condition]

Nested List Comprehension [expression for item1 in iterable1 for item2 in iterable2]

In [44]:
# Basic List Comprehension
square=[num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [45]:
# List Comprehension with Condition
lst=[]
for i in range(10):
    if i%2==0:
        lst.append(i)
print(lst)

[0, 2, 4, 6, 8]

In [47]:
even_numbers=[num for num in range(10) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [48]:
# Nested List Comprehension

lst1=[1,2,3,4]
lst2=['a','b','c','d']

pair=[[i,j] for i in lst1 for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [49]:
# List Comprehension with function calls
 
words=["hello","world","python","list","comprehension"]
lengths=[len(word) for word in words]
print(lengths)

[5, 5, 6, 4, 13]

# Conclusion

List comprehensions are a powerful and concise way to create lists in Python. They are syntactically compact and can replace more verbose looping constructs. Understanding the syntax of list comprehensions will help you write cleaner and more efficient Python code

# Tuples

In [50]:
# Creating a tuple 
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [53]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [55]:
numbers=tuple([1,2,3,4,5])
numbers

(1, 2, 3, 4, 5)

In [57]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [58]:
mixed_tuple=(1,"Hello world",3.14,True)
print(mixed_list)

[1, 'Hello', 3.14, True]

In [59]:
# Accessing Tuple Elements
numbers

(1, 2, 3, 4, 5)

In [60]:
print(numbers[2])
print(numbers[-1])

3
5

In [61]:
numbers[0:4]

(1, 2, 3, 4)

In [62]:
numbers[::-1]

(5, 4, 3, 2, 1)

In [64]:
# Tuple Operations

concatenation_tuple=numbers+mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 1, 'Hello world', 3.14, True)

In [66]:
mixed_tuple*3

(1,
 'Hello world',
 3.14,
 True,
 1,
 'Hello world',
 3.14,
 True,
 1,
 'Hello world',
 3.14,
 True)

In [67]:
numbers*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [68]:
# Immutable Nature of Tuples
# Tuples are immutable, meaning their elements cannot be changed once assigned

lst=[1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [70]:
lst[1]="Krish"
print(lst)

[1, 'Krish', 3, 4, 5]

In [71]:
numbers[1]="Krish"

TypeError: 'tuple' object does not support item assignment

In [74]:
numbers

(1, 2, 3, 4, 5)

In [76]:
# Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [78]:
# Packing and Unpacking tuple

packed_tuple1=1,"Hello",3.14
print(packed_tuple1)

(1, 'Hello', 3.14)

In [80]:
# Unpacking a tuple 
a,b,c=packed_tuple1
print(a,b,c)

1 Hello 3.14

In [82]:
# Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [86]:
# Nested Tuple
# Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [87]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][:3]

(1, 'Hello', 3.14)

In [88]:
nested_tuple=((1,2,3),("a","b","c"),(True,False))

# access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [89]:
# Iterating Over Nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

# Conclusion

Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items in required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code